#{extends '/DoS/MCP/main.html' /}
#{set title:'Delving Image Server' /}

<div id="header">
  <label for="rootPathField">Path</label>
  <input id="rootPathField" type="text" data-bind="value: rootPath">
  <button data-bind="click: function() { refreshDirectories(); }">Refresh</button>
</div>
<div id="browser" data-bind="template: {name: 'directoryTemplate', foreach: directories}"></div>
<div id="footer">
  Here shall come the tiling tasks
</div>

<script id="directoryTemplate" type="text/html">
    <tr><td data-bind="text: path"></td></tr>
</script>

<script type="text/javascript">
  $(document).ready(function() {

    var viewModel = {
      rootPath: "/tmp",
      directories: ko.observableArray(),

      refreshDirectories: function() {
        $.postKOJson('/@dos/browser/list', this, function(data) {
          viewModel.directories(data.directories);
        });
      }


    };

    ko.applyBindings(viewModel);

  });
</script>